
 <a *ngIf="menu==2" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Links
  </a> 

<ul *ngIf="  menu==1 ||  menu==2 ||  menu==3" [ngClass]="{ 'ul-links' : menu==1 , 'ul-links-responsive dropdown-menu' : menu==2 , 'ul-contacto' : menu==3  }">
    <li *ngFor="let i of datos" class="icono" [ngClass]="{ 'nav-item ' : menu==1 || menu==3 , 'dropdown-item ' : menu==2 }"><a class="text-shadow-links" href={{i.url}} target="_blank"><span class={{i.icono}} ></span> <span *ngIf="menu==2">  {{i.descripcion}}</span> </a></li>
    <!-- <li class="icono" [ngClass]="{ 'nav-item ' : menu==1 || menu==3 , 'dropdown-item ' : menu==2 }" ><a class="text-shadow-links" href={{url}}><span class={{icono}}></span> <span *ngIf="menu==2">{{descripcion}}</span> </a></li>
    <li class="icono" [ngClass]="{ 'nav-item ' : menu==1 || menu==3 , 'dropdown-item ' : menu==2 }" ><a class="text-shadow-links" href={{url}}><span class={{icono}}></span> <span *ngIf="menu==2">{{descripcion}}</span> </a></li> -->
</ul>



<ul *ngIf="menu==4" class="ul-links-contacto">
  <li><a class="font" href="http://www.github.com/facundo-rodriguez" target="_blank"> <i class="fab fa-github"></i> github </a></li>
  <li><a class="font" href="https://www.instagram.com/facu.rodriguez.95" target="_blank"> <i class="fab fa-instagram"></i> instagram </a></li>
  <li><a class="font" href="https://www.linkedin.com/in/facundo-rodriguez-340692317" target="_blank"> <i class="fab fa-linkedin"></i> linkedin</a></li>
  <li><a class="" href="mailto:95.rodriguez.facundo@gmail.com">95.rodriguez.facundo@gmail.com</a></li>
</ul>

