
.seccion{
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
}



.seccion-1{
    
}

video {
  position:absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
 

  transform: translate(-50%,-50%);

  background-color: #23d5ab;
}


@media (max-width: 800px){ 

    video{
        display: none;
    }
}

/*


.particles-js-canvas-el{
    position: fixed;
    top: 0;
   
    width: 100%;
    
    z-index: -1;
    background-color: rgba(165, 42, 42, 0.363);
}



#container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #particles-js,
  #over {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #over {
    z-index: 10;
  }



.shadow{

    position:relative;
    margin:200px auto 0;
    width:400px;
    height: 250px;
    background: linear-gradient(0deg,#000,#262626);

}

.shadow::before,.shadow::after{

    content: "";

    position: absolute;

    top:-2px;
    left: -2px;

    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);

    background-size: 400%;

    width: calc(100% + 5px);
    height: calc(100% + 5px);

    z-index: -1;

    transition: 1s ease all;

    animation: animate 20s linear infinite;
}

.shadow:hover::after{

    filter: blur(20px);
}

@keyframes animate {
    
    0%{

        background-position: 0%;
    }

    50%{

        background-position: 300% 0;
    }

    100%{

        background-position: 0 0;
    }
}

*/

/*------------------------------------------------------------------------*/

/*
.container{

    

   
    background-color: #00ff00;


}


.card{

    position:relative;

    width: 300px;

    height: 400px;

    background: #0c002b;

    display: flex;

    justify-content: center;

    align-items: center;

    margin: 30px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    

    overflow: hidden;
    
    transition: 5s all;

}



.card:hover{

    opacity: 1;

    transition: 1s ease;


    box-shadow:  0px  0px 35px 10px   #1462ce  ;

}


.card::before{

    content:"";

    width: 50%;

    position: absolute;

    top: 2px;

    left:2px;

    bottom:2px;

    background: rgba(255,255,255,0.1);

    pointer-events: none;

}





.card .content{

    padding:30px;

    text-align: center;
}


.card span{

    transition:0.5s;

    opacity: 0;
}

.card:hover span{

    opacity: 1;
}



.card span:nth-child(1){

    position: absolute;

    top:-1px;
    left: -1px;

    width: 100%;
    height: 3px;

    background: linear-gradient(to right, transparent, #1779ff);

    

    animation:animate1 2s linear infinite
}

.card span:nth-child(2){

    position: absolute;

    top:0;
    right: 0;

    width: 3px;
    height: 100%;

    background: linear-gradient(to bottom, transparent, #1779ff);

    animation:animate2 2s linear infinite;

    animation-delay:1s;
}

.card span:nth-child(3){

    position: absolute;

    bottom:0;
    left: 0;

    width: 100%;
    height: 3px;

    background: linear-gradient(to left, transparent, #1779ff);

    animation:animate3 2s linear infinite
}

.card span:nth-child(4){

    position: absolute;

    top:0;
    left: 0;

    width: 3px;
    height: 100%;

    background: linear-gradient(to top, transparent, #1779ff);

    animation:animate4 2s linear infinite;

    animation-delay: 1s;
}


@keyframes animate1 {
    
    0%{

        transform: translateX(-100%);
    }
    100%{

        transform: translateX(100%);
    }
}

@keyframes animate2 {
    
    0%{

        transform: translateY(-100%);
    }
    100%{

        transform: translateY(100%);
    }
}

@keyframes animate3 {
    
    0%{

        transform: translateX(100%);
    }
    100%{

        transform: translateX(-100%);
    }
}

@keyframes animate4 {
    
    0%{

        transform: translateY(100%);
    }
    100%{

        transform: translateY(-100%);
    }
}


*/