

<app-navbar></app-navbar> 

<app-sobre-mi></app-sobre-mi>

<app-experiencia ></app-experiencia>

<app-proyectos ></app-proyectos>



<div id="particles-js" class="container">

    <div class="card">

        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="content">

            <h2>01</h2>

            <h3>Post title</h3>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo qui quis ex officia necessitatibus repellendus a ab esse architecto rem.
            </p>

            <a href="">read more</a>
        
        </div>

    </div>
    
</div>
