<nav class="boton">

  <button class="icono btn btn-info" type="button" (click)="openMenu()">
    <i class="fa-solid fa-bars"></i>
  </button>



  <ul [ngStyle]=" open ? {'background-color': 'rgb(0, 255, 255,0.1)'} : {'background-color': 'transparent'}">
    <li *ngIf="!EstadoLogin" class="btn btn-primary " [ngClass]="open ? 'list': 'noList' " data-bs-toggle="modal"
      data-bs-target="#login">Login <i class="fas fa-sign-in-alt"></i></li>


    <li *ngIf="EstadoLogin" class="btn btn-danger" [ngClass]="open ? 'list': 'noList' ">
      <span (click)="logout()">Logout <i class="fas fa-sign-in-alt"></i> </span>
    </li>

    <li class="icono" [ngClass]="open ? 'list': 'noList' "><a href="#"><span class="fab fa-github"></span></a></li>
    <li class="icono" [ngClass]="open ? 'list': 'noList' "><a href="#"><span class="fab fa-instagram"></span></a></li>
    <li class="icono" [ngClass]="open ? 'list': 'noList' "><a href="#"><span class="fab fa-twitter"></span></a></li>

  </ul>



</nav>



<!--data-bs-toggle="modal" data-bs-target="#login"  routerLink="/modalLoguin"

fixed-top sticky-top -->

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
 
  <div class="container-fluid  ">
    
    <a class="navbar-brand " href="#"><img class="logo" src="./assets/imagenes/logo-arg-programa.png" alt=""></a>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="openMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li *ngIf="!EstadoLogin" class="nav-item " [ngClass]="open ? 'list': 'noList' " data-bs-toggle="modal"
        data-bs-target="#login"><span class=" btn btn-primary">Login <i class="fas fa-sign-in-alt"></i></span></li>
  
  
      <li *ngIf="EstadoLogin" class="nav-item " [ngClass]="open ? 'list': 'noList' ">
        <span class="btn btn-danger" (click)="logout()">Logout <i class="fas fa-sign-in-alt"></i> </span>
      </li>
  
      <li class="nav-item icono"><a href="#"><span class="fab fa-github"></span></a></li>
      <li class="nav-item icono" ><a href="#"><span class="fab fa-instagram"></span></a></li>
      <li class="nav-item icono" ><a href="#"><span class="fab fa-twitter"></span></a></li>
  
      </ul>  
    </div>

  </div>

</nav>

<app-modal-login></app-modal-login>