

 <section id="proyectos">

  <div style="margin-top:40px"> 
    <h2 id="titulo-proyecto" class="text-shadow text-center animate__animated" >Proyectos</h2>
    <button *ngIf="EstadoLogin" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#proyecto-editar" (click)="agregarProyecto()" >
      agregar<i class="far fa-plus-square"></i></button>
  </div>

    <div class="miSwiper">
      <!-- Additional required wrapper -->
      
        <!-- Slides -->
        <ul class="swiper-wrapper">

          <li class="swiper-slide miSlide"  *ngFor="let i of datosProyectos ; index as indice">
            
            <div class="contenido-slide">

              <div class="card">

                <span></span>
                <span></span>
                <span></span>
                <span></span>
        
                <div class="content text-shadow-proyec">
        
                  <h3>{{i.titulo}}</h3>      
                  <!-- <h4>Post title</h4> -->
        
                    
                  <p class="text-center">{{i.descripcion}}</p>
                    
          
                  <div *ngIf="EstadoLogin" class="botones "  >
      
                    <button data-bs-toggle="modal" data-bs-target="#proyecto-editar"  #boton (click)="ItemProyecto(i)"><i class="fas fa-edit"></i> </button> 
                    
                    <!--  *ngIf="EstadoLogin" data-bs-toggle="modal" data-bs-target="#experiencia-editar" routerLink="/editExperiencia/{{i.id}}"    [routerLink]="['/editExperiencia/',i.id]" -->
                    
                    <button  (click)="borrarProyecto(i)"><i class="fas fa-trash-alt"></i></button> 
                    
                  </div>

                  <a *ngIf="i.url_github" href="{{i.url_github}}" target="_blank">ver github</a>
                
                  <div><a *ngIf="i.url" href="{{i.url}}" target="_blank">ver app</a></div>
                </div>
        
              </div>

            </div>

          </li> 

         
  
        </ul>
       
      
      <!-- If we need pagination  If we need navigation buttons  If we need scrollbar   -->
      <div class="swiper-pagination"></div>
    
        
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    
       
      <div class="swiper-scrollbar"></div> 
    </div>

    

    

 </section>




<app-editar-proyecto></app-editar-proyecto>












