

<section id="experiencia" >

  <div>
  
    <h2 id="h2-titulo" class="text-shadow text-center animate__animated" style="  margin-bottom:50px; ">
      Educación      <!-- Experiencias -->
    </h2>
    
    <button *ngIf="EstadoLogin" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#experiencia-editar"
      (click)="agregarExperiencia()">
      agregar<i class="far fa-plus-square"></i>
    </button>
  
  </div>

  <div>
    <!-- text-success -->
    <div class="accordion" id="accordionExample" #accordionExample>
      <div class="accordion-item" *ngFor="let i of (datosObservable$ | async) ; index as indice">
        
        <h3 [id]="'heading_' + indice" class="accordion-header">
          
          <button class="accordion-button collapsed text-shadow-links"
                  type="button"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#item-acordeon_' + indice"
                  [attr.aria-controls]="'item-acordeon_' + indice"
                  aria-expanded="false">
            {{ i.empresa }} <!--{{ i.puesto }} -->
          </button>
        </h3>
        
        <div [id]="'item-acordeon_' + indice" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="position:relative;"> 
          
          <div *ngIf="EstadoLogin" class="botones">
            <button data-bs-toggle="modal" data-bs-target="#experiencia-editar" #boton (click)="ItemExperiencia(i)">
              <i class="fas fa-edit"></i> 
            </button>
            <button (click)="borrar(i)"><i class="fas fa-trash-alt"></i></button>
          </div>
          
          <div class="accordion-body" [attr.aria-labelledby]="'heading_' + indice">
            {{ i.descripcion }} <!--{{ indice }}  -->

            <p *ngIf="i.certificado">
              Certificado: <a [attr.href]="i.certificado" target="_blank">{{i.certificado}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  



  <!-- <div class="container caja">

    <div class="row " style="margin:10px;">

      <div class=" col-12  col-sm-6 col-md-4" style="margin-bottom:10px; margin-top:10px;"
        *ngFor="let i of (datosObservable$ | async) ; index as indice">

        <div class="card text-center h-100 shadow">

          <div class="contenido">
            <div class="caja-card">

              <img class="card-img-top" src="../assets/imagenes/descarga.jpg" alt="">

              <div class="card-body ">

                <h2 style=" color:black">{{i.empresa}}</h2>
                <h3 style=" color:black">{{i.puesto}}</h3>

              </div>


            </div>
            <div class="card-text caja-descripcion">
              <p class="">{{i.descripcion}} {{indice}}</p>
            </div>

            <div *ngIf="EstadoLogin" class="botones ">
              <button data-bs-toggle="modal" data-bs-target="#experiencia-editar" #boton (click)="ItemExperiencia(i)"><i
                  class="fas fa-edit"></i> </button>
              <button (click)="borrar(i)"><i class="fas fa-trash-alt"></i></button>
            </div>

          </div>


        </div>

      </div>


    </div>

  </div> -->





</section>








<app-agregar-experiencia></app-agregar-experiencia>


<app-editar-experiencia></app-editar-experiencia>
























