
#sobre_mi {
  /* margin: auto ; */

  text-align: center;
  
  /* background-image: none;*/
  display: flex;
  
  justify-content: center;
  align-items: center; 

  box-sizing: border-box;
  
  /* position: relative; */

  background: linear-gradient( rgba(57, 167, 130, 0.253), rgba(105, 57, 167, 0.253));
  transition: 1s all;
  
  /* background-size: 400%;  */

  height: 100vh;

  clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);

  z-index: 100; 
}


.bienvenida{
  font-weight: bold;
  font-size: 4rem;
  font-family:  "Audiowide";
  letter-spacing: 0.5rem;

  /* width: 90%;
  margin: auto; */
  box-sizing: border-box;
  word-wrap: break-word;

  color:transparent;
  background:linear-gradient(to left, #309cee, #6610f2,  #3498db, #6610f2);
  background-clip: text;
  
  background-size: 400%;
}

.animacion-texto{
  animation: textoColor 5s linear  infinite;  
}

.hola h3{
  
  font-family: "Audiowide";
}


/* h6 a{
  text-decoration: none;
  color: white;
  --color:#6610f2;
  text-shadow:  0 0 5px var(--color), 
  0 0 10px rgb(48, 156, 238), 
  0 0 20px var(--color), 
  0 0 30px rgb(48, 156, 238); 
  transition: 0.5s;
}

h6 a:hover{
  --color:rgb(48, 156, 238);
  text-shadow:  0 0 5px var(--color), 
  0 0 10px var(--color), 
  0 0 20px var(--color), 
  0 0 30px var(--color); 
 
  transition: 0.5s;
} */


@keyframes textoColor{
  
  from{
      background-position: 0% 50%;
  }

  to{
      background-position: 100% 50%;
  }
}


@keyframes gradient-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.container-fluid .col-lg-4 figure img:nth-child(2){

  display:none;
}


@media screen and (max-width: 800px){ 

  #sobre_mi{

    background-image:url('src/assets/imagenes/fondos/5.jpg');
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height:min-content;
  }

  .container-fluid{
    margin-top: 100px;

  }

  /*.container-fluid .hola h2*/
  .bienvenida{
    font-size: 2.5rem; 
    letter-spacing: 0rem;
    
  }

}

@media screen and ( max-width:991px){

  .container-fluid{
    margin-top: 100px;

  }

  .container-fluid .col-lg-4 figure img:nth-child(1){

    display:none;
  }

  .container-fluid .col-lg-4 figure img:nth-child(2){

    display:inline;
  }

}





