<section id="aboutme">
    <div class="boton-editar" style="width: 10%;height:40px;" >
      <button type="button" class="btn" style="width: 30px;height:40px;background-color:green;" data-bs-toggle="modal" data-bs-target="#sobremi">
        <i class="fas fa-edit"></i>
      </button>
    </div>
    
    <div class="container-photo">
        <img src="../assets/imagenes/descarga.jpg" alt="me">
    </div>
    <div class="aboutme">
        <p class="title-section">About me</p>
        <h2>I'm <span>Full Stack Developer Jr</span></h2>
        
        <p>
          {{sobre_mi}}
        </p>
        
    </div>
</section>


<app-aboutme-editar></app-aboutme-editar>