

<section id="sobre_mi" >

    <h2 class="text-center text-shadow">Sobre mí</h2>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5"  >
                
                <figure class="octagon-container" >  
                    <img  class="img-responsive octagon-image" src={{imagen}} alt="foto de Facu"/>
                </figure>
            </div>
            <div class="col-lg-7"  >
                <p id="p" class="animate__animated">
                    <!-- {{descripcion}} -->
                    Hola! Mi nombre es Facundo, recientemente graduado como Analista de Sistemas, con una gran pasión por la tecnología. 
                    <br>
                    Aunque aún no tengo experiencia laboral en IT, he complementado mi formación con varios  cursos en desarrollo web, análisis de datos, 
                    entre otros, lo que sirvió para reforzar y  diversificar  mis habilidades técnicas.
                    <br>
                    Estoy muy motivado por aprender y crecer profesionalmente, buscando participar en nuevos desafíos y  proyectos donde pueda aplicar y expandir 
                    los conocimientos adquiridos. 
                    <br>
                    Disfruto trabajando en equipo, comprometido en contribuir positivamente y aprender de los demás, ya   que creo que estas 
                    experiencias enriquecen mi desarrollo profesional y personal. Valoro un ambiente laboral dinámico donde pueda aportar lo aprendido y seguir creciendo tanto a nivel personal como profesional.

                </p>
            </div>
        </div>
    </div>

</section>


