

<section id="presentacion" >

    <h2 class="text-center text-shadow">Sobre mi</h2>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5"  >
                
                <figure class="octagon-container" >  
                    <img  class="img-responsive octagon-image" src="../assets/imagenes/descarga.jpg" alt="foto de Facu"/>
                </figure>
            </div>
            <div class="col-lg-7"  >
                <p id="p" class="animate__animated">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum atque mollitia nostrum, est reiciendis obcaecati debitis. Ut natus explicabo praesentium tempore officia sint odit eos, nostrum repudiandae magni ratione fugiat, quaerat beatae distinctio aperiam fuga voluptatum, perspiciatis in cupiditate sed.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum atque mollitia nostrum, est reiciendis obcaecati debitis. Ut natus explicabo praesentium tempore officia sint odit eos, nostrum repudiandae magni ratione fugiat, quaerat beatae distinctio aperiam fuga voluptatum, perspiciatis in cupiditate sed.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum atque mollitia nostrum, est reiciendis obcaecati debitis. Ut natus explicabo praesentium tempore officia sint odit eos, nostrum repudiandae magni ratione fugiat, quaerat beatae distinctio aperiam fuga voluptatum, perspiciatis in cupiditate sed.
                    
                </p>
            </div>
        </div>
    </div>

</section>


