

#presentacion{

    text-align: center;
    margin: 20px auto ;

}

#presentacion h2{

    margin-top: 50px;
    margin-bottom: 50px;
}
 

#presentacion .container-fluid{
    width: 80%;
    margin: auto;

}


.octagon-container {
    position: relative;
    
}

.octagon-image {

    border:1px solid #6610f2;
    border-radius: 10px; 
    --color:#6610f2;
    box-shadow:  0 0 5px var(--color), 
    0 0 10px #1d96bb, 
    0 0 20px var(--color),
    0 0 30px #1d96bb; 
}

    



